/*Light Yellow: ffffd2*/

/* ------------------------------------------ */
/* Basic Setup */
/*--------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #503bff;
    color: #503bff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/* ------------------------------------------ */
/* Reusable components */
/*--------------------------------------------*/

/*-------HEADINGS---------*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    /*margin-top: 0;
    margin-bottom: 20px;*/
    color: #ffffd2;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/*-------------Containers----------------*/

.col {
    text-align: center;
    padding: 100px;
    vertical-align: middle;
}

section {
    background: #fff;
    height: 100vh;
    margin: 100px 50px;
}

/* ------------------------------------------ */
/* HEADER */
/*--------------------------------------------*/

header {
	background: #503bff;
	background-size: cover;
	background-position: center;
    padding-top: 20px;
}

.navbar-light {
    background: #503bff;

}

.navbar-light .navbar-brand {
    color: #ffffd2 !important;
    transition: scale 0.3s;
}

.navbar-light .navbar-brand:hover {
    color: #ffffd2 !important;
    transform: scale(1.1);
}

.navbar-light .navbar-toggler {
    background-color: #ffffd2 !important;
    border-color: transparent;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:active {
    background-color: #ffffd2 !important;
    border-color: transparent;
}

.home-container {
    background: #503bff;
    width: 100%;
}

.navbar-light .navbar-nav > li {
    display: inline-block;
}

.navbar-light .navbar-nav > li >a:link,
.navbar-light .navbar-nav > li >a:visited {
    color: #ffffd2; !important;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
}

.navbar-light .navbar-nav > li >a:hover,
.navbar-light .navbar-nav > li >a:active {
    color: #ffffd2; !important;
    border-bottom: 3px solid #ffffd2;
}

#portrait {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    transition: transform 0.5s;
    box-shadow: 0px 20px 50px -15px rgba(0, 0, 0, 1);
    align-content: right;
}

#portrait:hover {
    transform: scale(1.1);
}

.intro-content h1 {
    color: #ffffd2;
}

.intro-content p {
    color: #8293ff;
}

/* ------------------------------------------ */
/* Portfolio */
/*--------------------------------------------*/

#portfolio {
    margin: 0;
}

.port-image {
    overflow: hidden;
}

#portfolio img {
    width: 100%;
    transform: scale(1.3);
    transition: transform 0.3s;
}

#portfolio img:hover {
    transform: scale(1);
}

